@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

@font-face {
  font-family: "GDS Transport Website";

  src: url("./asset/fonts/gdstransportwebsite-webfont.woff2") format("woff2"),
    url("./asset/fonts/gdstransportwebsite-webfont.woff") format("woff");

  font-style: normal;

  font-weight: 400;
}

@font-face {
  font-family: "GDS Transport Website";

  src: url("./asset/fonts/gdstransportwebsite-bold-webfont.woff2") format("woff2"),
    url("./asset/fonts/gdstransportwebsite-bold-webfont.woff") format("woff");

  font-style: normal;

  font-weight: 700;
}

body {
  margin: 0px;
}

fieldset {
  border: none;
}

.govuk-header {
  font-family: "GDS Transport Website", arial, sans-serif;

  -webkit-font-smoothing: antialiased;

  -moz-osx-font-smoothing: grayscale;

  font-weight: 400;

  font-size: 14px;

  font-size: 0.875rem;

  line-height: 1.1428571429;

  border-bottom: 10px solid #fff;

  color: #fff;

  background: #0b0c0c;
}

.govuk-header__container {
  position: relative;

  margin-bottom: -10px;

  padding-top: 10px;

  border-bottom: 10px solid #1d70b8;
}

.govuk-header__container::after {
  content: "";

  display: block;

  clear: both;
}

.govuk-width-container {
  margin-right: auto;

  margin-left: auto;

  max-width: 945px;
}

.govuk-header__logo {
  margin-bottom: 10px;

  padding-right: 50px;

  box-sizing: border-box;

  width: 33.33%;

  float: left;

  vertical-align: top;
}

.govuk-header__service-name {
  display: inline-block;

  color: #ffffff;

  margin-bottom: 10px;

  font-family: "GDS Transport Website", arial, sans-serif;

  -webkit-font-smoothing: antialiased;

  -moz-osx-font-smoothing: grayscale;

  font-weight: 700;

  font-size: 24px;

  font-size: 1.5rem;

  line-height: 30px;
}

.govuk-header__service-name:hover {
  color: #fff;

  text-decoration: underline;

  text-decoration-thickness: 3px;

  text-underline-offset: 0.1578em;
}

.govuk-header__content {
  width: 66.66%;

  padding-left: 15px;

  float: left;

  box-sizing: border-box;
}

.govuk-header__link--homepage {
  font-family: "GDS Transport Website", arial, sans-serif;

  -webkit-font-smoothing: antialiased;

  -moz-osx-font-smoothing: grayscale;

  font-weight: 700;

  display: inline-block;

  margin-right: 10px;

  font-size: 30px;

  line-height: 1;

  text-decoration: none;

  color: #fff;
}

.govuk-header__logotype:last-child {
  margin-right: 0;
}

.govuk-header__logotype {
  display: inline-block;

  margin-right: 5px;
}

.govuk-header__link--homepage:link,
.govuk-header__link--homepage:visited {
  text-decoration: none;
}

.govuk-header__link:link,
.govuk-header__link:visited {
  color: #fff;
}

.govuk-header__logotype-crown {
  position: relative;

  top: -1px;

  margin-right: 10px;

  fill: currentcolor;

  vertical-align: top;
}

.govukHeaderLogotypeText {
  font-size: 30px;

  font-weight: 700;
}

.govuk-fieldset__heading {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

.govuk-fieldset__legend {
  font-family: "GDS Transport Website", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  color: #0b0c0c;
  box-sizing: border-box;
  display: table;
  max-width: 100%;
  margin-bottom: 10px;
  padding: 0;
  white-space: normal;
}

h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.govuk-fieldset__legend--l {
  font-family: "GDS Transport Website", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1.0416666667;
  margin-bottom: 15px;
}

.wrapper {
  max-width: 946px;
  margin: 0 auto;
}

.govuk-button {
  font-family: "GDS Transport Website", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.1875;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  width: auto;
  margin-top: 0px;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 22px;
  padding: 8px 10px 7px;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 0;
  color: #fff;
  background-color: #00703c;
  box-shadow: 0 2px 0 #002d18;
  vertical-align: top;
  cursor: pointer;
  -webkit-appearance: none;
}

.govuk-button:focus {
  border-color: #fd0;
  outline: 3px solid rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 0 1px #fd0;
}

.govuk-button--warning {
  background-color: #d4351c;
  box-shadow: 0 2px 0 #55150b;
}

.govuk-button--disabled {
  opacity: .5;
}

.govuk-button--secondary,
.govuk-button--secondary:link,
.govuk-button--secondary:visited,
.govuk-button--secondary:active,
.govuk-button--secondary:hover {
  color: #0b0c0c;
}

.govuk-button--secondary:hover {
  background-color: #dbdad9;
}

.govuk-footer {
  display: flex;
  justify-content: center;
  font-family: "GDS Transport Website", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.1428571429;
  padding-top: 25px;
  padding-bottom: 15px;
  border-top: 1px solid #b1b4b6;
  color: #0b0c0c;
  background: #f3f2f1;
}

.govuk-footer__meta {
  display: flex;
  margin-right: -15px;
  margin-left: -15px;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
}

.govuk-footer__meta-item--grow {
  padding-right: 135px;
}

.govuk-footer__meta-item {
  margin-right: 15px;
  margin-bottom: 25px;
  margin-left: 15px;
}

.govuk-footer__copyright-logo {
  display: inline-block;
  min-width: 125px;
  padding-top: 112px;
  background-image: url(/public/govuk-crest.png);
  background-repeat: no-repeat;
  background-position: 50% 0%;
  background-size: 125px 102px;
  text-align: center;
  white-space: nowrap;
}

.govuk-select {
  font-family: "GDS Transport Website", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  box-sizing: border-box;
  min-width: 11.5em;
  max-width: 100%;
  height: 40px;
  height: 2.5rem;
  padding: 5px;
  border: 2px solid #0b0c0c;
  color: #0b0c0c;
  background-color: #fff;
}

.govuk-heading-xl {
  color: #0b0c0c;
  font-family: "GDS Transport Website", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 32px;
  font-size: 2rem;
  line-height: 1.09375;
  display: block;
  margin-top: 0;
  margin-bottom: 30px;
  width: 69%;
}

.govuk-caption-xl {
  font-family: "GDS Transport Website", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.1111111111;
  display: block;
  margin-bottom: 5px;
  color: #505a5f;
}

.app-prose-scope h2,
.govuk-heading-l {
  color: #0b0c0c;
  font-family: "GDS Transport Website", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1.0416666667;
  display: block;
  margin-top: 0;
  margin-bottom: 20px;
}

.govuk-caption-l {
  font-family: "GDS Transport Website", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.1111111111;
  display: block;
  margin-bottom: 5px;
  color: #505a5f;
}

.govuk-caption-m {
  font-family: "GDS Transport Website", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  display: block;
  color: #505a5f;
}

.govuk-details__text {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  border-left: 5px solid #b1b4b6;
}

.govuk-details__summary {
  display: inline-block;
  position: relative;
  margin-bottom: 5px;
  padding-left: 25px;
  color: #1d70b8;
  cursor: pointer;
}

.govuk-details__summary-text {
  text-decoration: underline;
  text-decoration-thickness: max(1px, 0.0625rem);
  text-underline-offset: 0.1578em;
}

.govuk-details__summary:before {
  content: "";
  position: absolute;
  top: -1px;
  bottom: 0;
  left: 0;
  margin: auto;
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0);
  -webkit-clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
  clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
  border-width: 7px 0 7px 12.124px;
  border-left-color: inherit;
}

.govuk-details {
  font-family: "GDS Transport Website", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  color: #0b0c0c;
  margin-bottom: 20px;
  margin-top: 20px;
  display: block;
}

.govuk-details[open]>.govuk-details__summary:before {
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0);
  -webkit-clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
  clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
  border-width: 12.124px 7px 0 7px;
  border-top-color: inherit;
}

.govuk-template {
  background-color: #f3f2f1;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

.govuk-phase-banner {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #b1b4b6;
  /* margin-left: 287px;
  margin-right: 287px; */
}

.govuk-tag {
  display: inline-block;
  outline: 2px solid rgba(0, 0, 0, 0);
  outline-offset: -2px;
  color: #fff;
  background-color: #1d70b8;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "GDS Transport Website", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1;
  padding-top: 5px;
  padding-right: 8px;
  padding-bottom: 4px;
  padding-left: 8px;
  margin-right: 10px;
}

.govuk-phase-banner__text {
  display: table-cell;
  vertical-align: middle;
  font-size: 16px;
  font-size: 1rem;
}

.govuk-phase-banner__content {
  font-family: "GDS Transport Website", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.1428571429;
  color: #0b0c0c;
  display: table;
  margin: 0;
}

.govuk-phase-banner__content__tag {
  margin-right: 10px;
}

.govuk-table {
  font-family: "GDS Transport Website", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  color: #0b0c0c;
  width: 100%;
  margin-bottom: 20px;
  border-spacing: 0;
  border-collapse: collapse;
}

.govuk-table__header:last-child,
.govuk-table__cell:last-child {
  padding-right: 0;
}

.govuk-table__header,
.govuk-table__cell {
  padding: 10px 20px 10px 0;
  border-bottom: 1px solid #b1b4b6;
  text-align: left;
  vertical-align: top;
}

.govuk-table__header {
  font-weight: 700;
}

.govuk-footer__licence-description {
  display: inline-block;
}

.govuk-footer__licence-logo {
  display: inline-block;
  margin-right: 10px;
  vertical-align: top;
  forced-color-adjust: auto;
}

.govuk-footer__link {
  font-family: "GDS Transport Website", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: underline;
  text-decoration-thickness: max(1px, 0.0625rem);
  text-underline-offset: 0.1578em;
}

.govuk-footer__link:link,
.govuk-footer__link:visited {
  color: #0b0c0c;
}

.govuk-summary-list {
  font-family: "GDS Transport Website", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  color: #0b0c0c;
  margin: 0;
  font-size: 1.1875rem;
  line-height: 1.3157894737;
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  margin-bottom: 30px;
}

.govuk-summary-list__row {
  display: table-row;
  border-bottom: 1px solid #b1b4b6;
}

.govuk-summary-list__value {
  overflow-wrap: break-word;
  display: table-cell;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
  font-family: "GDS Transport Website", arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
}

.govuk-summary-list__key {
  margin-bottom: 5px;
  font-weight: 700;
  width: 30%;
  overflow-wrap: break-word;
  display: table-cell;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  margin: 0;
}

.govuk-form-group {
  margin-bottom: 30px;
  margin-left: 20px;
}

.govuk-form-group:after {
  content: "";
  display: block;
  clear: both;
}

.govuk-fieldset {
  min-width: 0;
  margin: 0;
  padding: 0;
  border: 0;
}

.govuk-fieldset:after {
  content: "";
  display: block;
  clear: both;
}

.govuk-fieldset__legend--m {
  font-family: "GDS Transport Website", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 1.5rem;
  line-height: 1.25;
}

.govuk-fieldset__legends {
  font-family: "GDS Transport Website", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  color: #0b0c0c;
  font-size: 1.1875rem;
  line-height: 1.3157894737;
  box-sizing: border-box;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

.govuk-fieldsets {
  min-width: 0px;
  margin: 25px;
  padding: 0;
  border: 0;
}

.govuk-captions-m {
  font-family: "GDS Transport Website", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 1.1875rem;
  line-height: 1.3157894737;
  display: block;
  color: #505a5f;
}

.govuk-back-link {
  font-family: "GDS Transport Website", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: underline;
  text-decoration-thickness: max(1px, 0.0625rem);
  text-underline-offset: 0.1578em;
  display: inline-block;
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 0.875em;
  font-size: 1rem;
  line-height: 1.25;
  color: #0b0c0c;
}

.govuk-back-link:after {
  content: "";
  position: absolute;
  top: -14px;
  right: 0;
  bottom: -14px;
  left: 0;
}

.govuk-back-link:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0.1875em;
  width: 0.4375em;
  height: 0.4375em;
  margin: auto 0;
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
  border: solid;
  border-width: 1px 1px 0 0;
  border-color: #505a5f;
}

.govuk-captions-l {
  font-family: "GDS Transport Website", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 0.0111111111;
  display: block;
  margin-bottom: 25px;
  margin-top: 40px;
  color: #505a5f;
}

.govuk-checkboxes__item {
  font-family: "GDS Transport Website", arial, sans-serif;

  -webkit-font-smoothing: antialiased;

  -moz-osx-font-smoothing: grayscale;

  font-weight: 400;

  font-size: 16px;

  font-size: 1rem;

  line-height: 1.25;

  display: block;

  position: relative;

  min-height: 40px;

  margin-bottom: 12px;

  margin-top: -20px;

  padding-left: 40px;

  clear: left;
}

.govuk-checkboxes__input {
  cursor: pointer;
  position: absolute;
  z-index: 1;
  top: 15px;
  left: 1px;
  width: 40px;
  height: 40px;
  margin-top: 7px;
  accent-color: white;
}

.govuk-checkboxes__input::before {
  content: "";

  position: absolute;

  top: 0;

  left: 0;

  width: 100%;

  height: 100%;

  border: 2px solid #0b0c0c;
}

.govuk-checkboxes__label {
  color: #000000;

  display: inline-block;

  margin-bottom: 0;

  padding-left: 15px;

  cursor: pointer;

  touch-action: manipulation;

  margin-top: 30px;

  font-size: 19px;

  font-size: 1.188rem;

  line-height: 25px;
}

.govuk-radios__conditional {
  margin-bottom: 15px;
  margin-left: 18px;
  padding-left: 33px;
  border-left: 4px solid #b1b4b6;
}

.govuk-radios__conditional--hidden {
  display: none;
}

.govuk-radios__item {
  font-family: "GDS Transport Website", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  display: block;
  position: relative;
  min-height: 40px;
  margin-bottom: 10px;
  padding-left: 40px;
  clear: left;
}

.govuk-radios__input {
  cursor: pointer;
  position: absolute;
  z-index: 1;
  top: -2px;
  left: -2px;
  width: 44px;
  height: 44px;
  margin: 0;
  opacity: 0;
}

.govuk-radios__label {
  display: inline-block;
  margin-bottom: 0;
  padding: 8px 15px 5px;
  cursor: pointer;
  touch-action: manipulation;
}

.govuk-label {
  font-family: "GDS Transport Website", arial, sans-serif;

  -webkit-font-smoothing: antialiased;

  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.25;
  color: #0b0c0c;
  margin-bottom: 5px;
}

.govuk-radios__label:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border: 2px solid currentcolor;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0);
}

.govuk-radios__label:after {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  width: 0;
  height: 0;
  border: 10px solid currentcolor;
  border-radius: 50%;
  opacity: 0;
  background: currentcolor;
}

.govuk-radios__input:checked+.govuk-radios__label:after {
  opacity: 1;
}

.govuk-main-wrapper {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
}

.govuk-main-wrapper--auto-spacing:first-child,
.govuk-main-wrapper--l {
  padding-top: 30px;
}

.govuk-grid-row {
  margin-right: -15px;
  margin-left: -15px;
}

.govuk-grid-column-full {
  box-sizing: border-box;
  width: 100%;
  padding: 0 15px;
}

.govuk-grid-column-one-half {
  box-sizing: border-box;
  width: 100%;
  padding: 0 15px;
}

.govuk-grid-column-one-third {
  box-sizing: border-box;
  width: 100%;
  padding: 0 15px;
}

.govuk-grid-column-two-thirds {
  box-sizing: border-box;
  width: 69%;
  padding: 0 15px;
}

.govuk-grid-row:after {
  content: "";
  display: block;
  clear: both;
}

@media (min-width: 40.0625em) {
  .govuk-grid-column-full {
    width: 100%;
    float: left;
  }

  .govuk-grid-column-one-half {
    width: 50%;
    float: left;
  }

  .govuk-grid-column-one-third {
    width: 33.3333333333%;
    float: left;
  }

  .govuk-grid-column-two-thirds {
    width: 66.6666666667%;
    float: left;
  }

  .govuk-grid-column-three-quarters {
    width: 75%;
    float: left;
  }
}

.govuk-body,
.govuk-body-m {
  color: #0b0c0c;
  font-family: "GDS Transport Website", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1.18rem;
  line-height: 1.25;
  margin-top: 0;
  margin-bottom: 15px;
}

.govuk-link {
  font-family: "GDS Transport Website", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.18rem;

  text-decoration: underline;
  text-decoration-thickness: max(1px, 0.0625rem);
  text-underline-offset: 0.1578em;
}

.govuk-link:link {
  color: #1d70b8;
}

.govuk-input {
  font-family: "GDS Transport Website", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  height: 2.5rem;
  margin-top: 0;
  padding: 5px;
  border: 2px solid #0b0c0c;
  border-radius: 0;
  -webkit-appearance: none;
  appearance: none;
  margin-left: 0px;
}

.govuk-input--width-10 {
  max-width: 14.5em;
}

.govuk-inset-text {
  font-family: "GDS Transport Website", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  color: #0b0c0c;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  clear: both;
  border-left: 10px solid #b1b4b6;
}

.govuk-hint {
  font-family: "GDS Transport Website", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1.24rem;
  line-height: 1.25;
  margin-bottom: 15px;
  color: #505a5f;
}

.govuk-date-input {
  font-size: 0;
}

.govuk-date-input:after {
  content: "";
  display: block;
  clear: both;
}

.govuk-date-input__item {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 0;
}

.govuk-date-input__label {
  display: block;
}

.govuk-input--width-2 {
  max-width: 3.4em;
}

.govuk-date-input__input {
  margin-bottom: 0;
}

.govuk-input--width-4 {
  max-width: 4.5em;
}

.govuk-form-groups {
  margin-bottom: 20px;
}

.govuk-table {
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  color: #0b0c0c;
  width: 100%;
  margin-bottom: 20px;
  border-spacing: 0;
  border-collapse: collapse;
}

.govuk-table__caption--m {
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.1111111111;
  margin-bottom: 15px;
}

.govuk-table__caption {
  font-weight: 700;
  display: table-caption;
  text-align: left;
}

.govuk-table__header,
.govuk-table__cell {
  padding: 10px 20px 10px 0;
  border-bottom: 1px solid #b1b4b6;
  text-align: left;
  vertical-align: top;
}

.govuk-app-menu-link {
  font-family: "GDS Transport Website", arial, sans-serif;
  margin-bottom: 14px;
  color: var(--link-default, #1d70b8);
  font-size: 19px;
  font-weight: 300;
  line-height: 25px;
  width: 310px;
}

.govuk-heading-xm {
  color: #0b0c0c;
  font-family: "GDS Transport Website", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  display: block;
  margin-top: 25px;
  margin-bottom: 20px;
}

.govuk-link {
  color: #1d70b8;
  text-decoration: underline;
  text-decoration-thickness: max(1px, 0.0625rem);
  text-underline-offset: 0.1858em;
}

.govuk-heading-l {
  font-family: "GDS Transport Website", arial, sans-serif;

  color: var(--text-primary, #0b0c0c);
  font-size: 19px;
  font-weight: 300;
  line-height: 25px;
}

.custom_Style {
  font-family: "GDS Transport Website", arial, sans-serif;

  color: var(--link-default, #1d70b8);
  font-size: 19px;
  font-weight: 700;
  line-height: 25px;
}

.custom_type {
  margin-bottom: 50px;
}